body {
    margin: 0;
  }
  
  .header {
    background-color: #F3F3F3;
    display: flex;
    align-items: baseline;
    padding: .5rem;
    gap: 1rem;
  }
  
  .link {
    background: none;
    border: none;
    text-decoration: none;
    color: #777;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 0;
  }
  
  .dropdown.active > .link,
  .link:hover {
    color: black;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-menu {
    position: absolute;
    left: 0;
    top: calc(100% + .25rem);
    background-color: white;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  }
  
  .dropdown.active > .link + .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
  
  .information-grid {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 2rem;
  }
  
  .dropdown-links {
    display: flex;
    flex-direction: column;
    gap: .25rem;
  }
  
  .login-form > input {
    margin-bottom: .5rem;
  }






  
.container{
  height:4000px;
  background-color:rosybrown;
  
}
.containerr{
  height:2000px;
  background-color:whitesmoke;
  display: inline-block;
  width: 100%;
  margin-left: 1.5%;
}
#category{
  height: 2000px;
  
}
#category1{
  height:80px;
  background-color: wheat;
  width: 100%;

}
#category1 span{
  font-size:22px;
  font-weight:bolder;
  color: #3B5998;
  display: inline-block;
  margin-left: 40%;
  margin-top: 30px;
}
#category2{
  background-color:lawngreen;
  height:384px;
}
#category3{
  background-color:hotpink;
  height:384px;
}
#category4{
  background-color:slateblue;
  height:384px;
}
#category5{
  background-color:aqua;
  height:384px;
}
#category6{
  background-color:rebeccapurple;
  height:384px;
}
#Newarrival{
  height:500px;
  background-color:royalblue;
  width: 100%;

}
#officialmerchandise{
  height:500px;
  background-color:seagreen;
  width: 100%;

}
#topselling{
  height:500px;
  background-color:red;
  width: 100%;

}
#exmember{
  height:500px;
  background-color:fuchsia;
  width: 100%;

}
